@import "common/foundation/variables";
@import "common/foundation/mixins";

.btn {
  @include border-radius-all($border-radius-default-BR);
}

.btn-primary { // The red ones :P
  background-color: $red-BR;
  color: #fff;

  &:hover {
    background-color: $red-darker-BR;
  }
}
